<html>
<head>
    <title>Barter Coin</title>
</head>
<body>
    <div>
        <h1><a href="/">Barter Coin</a></h1>
    </div>
    <div>
        <h2><a href="">First Offer</a></h2>
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p>published: 14.06.2014, 12:14</p>
    </div>

        <div>

            <h2><a href="">Second Offer</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
            <p>published: 14.06.2014, 12:14</p>
        </div>
    <h6>Credz to <a href="https://djangogirls.org">DjangoGirls</a></h6>
</body>
</html>
